<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Owlyst</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/owlyst.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

  </head>

  <body>
    <%= render "shared/topbar" %>

    <div class="my_lists clearfix">
      <div class="container list_container">
        <div class="row list_row">
          <div class="col-md-4 side_list_area" id="test">
            <div class="white_box clearfix">
              <div class="list_header">
                <h2>
                  <i class="glyphicon glyphicon-th-list"></i>
                  Create a new list
                </h2>
                <h3>Add new list item below and press enter</h3>
              </div>
              <div class="list_body">
                <div class="add_new_list_item_input_wrapper list_title_input">
                  <input type="text" class="form-control add_new_list_item_input" placeholder="Enter list title..." id="new_list_title">
                </div>
                <div class="add_new_list_item_input_wrapper new_list_list_item_wrapper">
                  <input type="text" class="form-control add_new_list_item_input new_list_list_item" placeholder="Click to add new list item...">
                </div>
              </div>
              <div class="list_actions_wrapper2 clearfix">
                <ul class="list_actions_list clearfix">
                  <li>
                    <a href="#" id="save_new_list">Save</a>
                  </li>
                  <li>
                    <a href="#" id="cancel_new_list">Cancel</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="white_box clearfix">
              <div class="list_header">
                <h2><a href="#">Movies I want to watch</a></h2>
                <h3>Created on 02/01/14 at 11:14am</h3>
              </div>
              <div class="list_body">
                <ul class="list_item_wrapper clearfix">
                  <li class="clearfix show_in_edit_mode">
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input edit_title_item_input"  value="Harold and Kumar go to White Castle" placeholder="Enter list title...">
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="show_in_view_mode">
                      <span class="checkbox list_item">
                        <label>
                          <input type="checkbox" value="">
                          Harold and Kumar go to White Castle
                        </label>
                      </span>
                      <i class="glyphicon glyphicon-move move_list_item"></i>
                    </div>
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input"  value="Harold and Kumar go to White Castle" placeholder="Add new list item...">
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="show_in_view_mode">
                      <span class="checkbox list_item">
                        <label>
                          <input type="checkbox" value="">
                          Harold and Kumar go to White Castle and Burger King
                        </label>
                      </span>
                      <i class="glyphicon glyphicon-move move_list_item"></i>
                    </div>
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input"  value="Harold and Kumar go to White Castle" placeholder="Add new list item...">
                    </div>
                  </li>
                </ul>
                <div class="add_new_list_item_input_wrapper">
                  <input type="text" class="form-control add_new_list_item_input" placeholder="Click to add new list item...">
                </div>
              </div>
              <div class="list_actions_wrapper2 clearfix">
                <ul class="list_actions_list clearfix">
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
            <% @lists.each do |l| %>
            <div class="white_box clearfix" lid="<%= l['lid'] %>">
              <div class="list_header">
                <h2><a href="#"><%= l['title'] %></a></h2>
                <h3>Created on 02/01/14 at 11:14am</h3>
              </div>
              <div class="list_body">
                <ul class="list_item_wrapper clearfix">
                  <li class="clearfix show_in_edit_mode">
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input edit_title_item_input"  value="<%= l['title'] %>" placeholder="Enter list title...">
                    </div>
                  </li>
                  <% l['list_items'].each do |li| %>
                  <li class="clearfix show_in_edit_mode">
                    <input type="text" class="form-control add_new_list_item_input" placeholder="Enter list title...">
                  </li>
                  <li class="clearfix olist_item <%if li['status'] && li['status']=='done'%>item_done<%end%>" liid="<%= li['liid']%>">
                    <div class="show_in_view_mode">
                      <span class="checkbox list_item">
                        <label>
                          <input type="checkbox" class="status_check" value="" <%if li['status'] && li['status']=='done'%>checked="checked"<%end%>>
                          <%= li['title'] %>
                        </label>
                      </span>
                      <i class="glyphicon glyphicon-move move_list_item"></i>
                    </div>
                    <div class="show_in_edit_mode">
                      <div class="add_new_list_item_input_wrapper">
                        <input type="text" class="form-control edit_list_item_input"  value="Harold and Kumar go to White Castle" placeholder="Add new list item...">
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>
                <input type="text" class="form-control add_new_list_item_input" placeholder="Click to add new list item...">
              </div>
              <div class="list_actions_wrapper2 clearfix">
                <ul class="list_actions_list clearfix">
                  <li>
                    <a href="#" class="edit_list">Edit</a>
                  </li>
                  <li>
                    <a href="#" class="delete_list">Delete</a>
                  </li>
                </ul>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-md-8 main_list_area">
            <div class="white_box main_list_box clearfix">
              <div class="list_header">
                <h2><a href="#">Movies I want to watch</a></h2>
                <h3>Created on 02/01/14 at 11:14am</h3>
                <ul class="list_actions_wrapper clearfix">
                  <li>
                    <a href="#" class="edit_list">edit</a>
                  </li>
                  <li>
                    <span>&middot;</span>
                  </li>
                  <li>
                    <a href="#" class="delete_list">delete</a>
                  </li>
                </ul>
              </div>
              <div class="list_body">
                <ul class="list_item_wrapper clearfix">
                  <li class="clearfix">
                    <div class="show_in_view_mode">
                      <span class="checkbox list_item">
                        <label>
                          <input type="checkbox" value="">
                          Harold and Kumar go to White Castle and Burger King
                        </label>
                      </span>
                      <i class="glyphicon glyphicon-move move_list_item"></i>
                    </div>
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input"  value="Harold and Kumar go to White Castle" placeholder="Add new list item...">
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="show_in_view_mode">
                      <span class="checkbox list_item">
                        <label>
                          <input type="checkbox" value="">
                          Harold and Kumar go to White Castle and Burger King
                        </label>
                      </span>
                      <i class="glyphicon glyphicon-move move_list_item"></i>
                    </div>
                    <div class="show_in_edit_mode">
                      <input type="text" class="form-control edit_list_item_input"  value="Harold and Kumar go to White Castle" placeholder="Add new list item...">
                    </div>
                  </li>
                </ul>
                <input type="text" class="form-control add_new_list_item_input" placeholder="Click to add new list item...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
